---
// import Link from "./ui/link.astro";

import "components/css-components/style-contactbtn.css";
---

<div class="full-contact-button-global">

  <div class="contact-button-call-global">
    <a href="tel:+13238704790">(323) 870-4790</a>
  </div>
</div>
